@model Lab1.Models.Photos

@{
    ViewBag.Title = "Details";
}

<h2>Просмотр</h2>

<div>
    <h4>Фотографии</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Путь к фотографии")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
