@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>
<br />
<br />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at dolor eu turpis dapibus ultrices vitae et arcu. Donec ut maximus justo. Nam eu elit sit amet neque aliquet molestie in ac magna. Etiam sodales neque aliquet sem placerat commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac nunc tristique, auctor turpis sed, posuere nibh. Suspendisse ut lorem pharetra lorem hendrerit cursus.

    Nunc lacus justo, iaculis sit amet accumsan eget, molestie ut odio. Vivamus magna sapien, hendrerit at lacinia et, lacinia in ex. Duis scelerisque id mi et mollis. Nulla sit amet vehicula quam. Pellentesque nisi augue, rutrum ut ullamcorper vitae, mollis mollis ligula. In dolor orci, faucibus at finibus ornare, imperdiet vitae lectus. Praesent aliquet felis eget egestas maximus. Vestibulum vitae sapien tincidunt, posuere ex sed, scelerisque nulla.

    Nunc tempus nibh et nunc venenatis lacinia. Nulla facilisi. In fringilla justo magna, facilisis rutrum urna mollis ut. Phasellus et lorem cursus, luctus felis quis, dapibus orci. Nam non nulla nulla. Aenean luctus nisl sit amet porta pharetra. Suspendisse varius sed neque ac fringilla. Duis ornare odio id lorem tempor, ac condimentum nisi luctus. Aliquam erat volutpat..
</p>
