@{
    ViewBag.Title = "Добро пожаловать на сайт общежития Ми ВлГУ";
}
<h2>Гостиница Заря</h2>
<body>

    <div class="container body-content">
        <hr />
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#home">Информация о Нашей гостинице</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#profile">Наша история</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="home">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet sem semper, laoreet augue nec, volutpat arcu. Sed commodo dui a nibh sagittis, ac faucibus eros congue. Quisque sodales, diam et facilisis cursus, lorem neque efficitur quam, eget imperdiet risus justo sit amet erat. Etiam dignissim dolor et mauris pulvinar luctus. Aenean tortor turpis, tincidunt a blandit non, eleifend sit amet tellus. Vestibulum eu nunc id eros porttitor lacinia. Duis faucibus sed sapien sed varius. Nulla facilisi. Praesent turpis urna, dapibus vitae vulputate mollis, varius eu sem.
                </p>
            </div>
            <div class="tab-pane fade active show" id="profile">
                <p>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum ante elit, eget tincidunt leo imperdiet et. Proin auctor semper aliquet. Donec dui urna, tristique non augue a, vulputate commodo justo. Suspendisse sit amet finibus velit. Aliquam sed magna neque. Sed lacinia tristique tellus, a tempor lorem euismod porta. Vivamus et faucibus nulla, at ultricies ex. Praesent ac arcu ultrices, ullamcorper erat in, mollis lacus. Vivamus imperdiet neque ac ipsum pretium sollicitudin.
                </p>
            </div>
        </div>
</body>
